<!DOCTYPE html>
<html>
	<head>
		<title> My Modules</title>
		<link href="https://bootswatch.com/simplex/bootstrap.min.css" rel="stylesheet">
		    <link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.css" />

   			<link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.print.css" />
	</head>
	<body>

		<!-- Navigation begins -->
		<nav class="navbar navbar-default">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/"> Management System </a>
	        </div>

	        <div class="collapse navbar-collapse" id="collapse1">
	          <ul class="nav navbar-nav">
	            <li> <a href="/"> Profile <span class="sr-only">(current)</span> </a> </li>
	            <li class="active"> <a href="/modules/"> My Modules </a> </li>
	          </ul>

	          <ul class="nav navbar-nav navbar-right">
	            <li> <a href="#"> Notifications </a> </li>
	            <li> <a href="/settings/"> Settings </a> </li>
	            <li> <a href="#"> Logged in as: <b>{{ user.first_name }}</b> </a> </li>
	            <li> <a href="/logout/"> Logout </a> </li>
	          </ul>
	        </div>
	      </div>
	    </nav>
	    <!-- Navigation ends -->

	    <!-- Module information begins -->
	    <div class="container-fluid">
	    	<div class="row">
	    		<div class="col-sm-4 text-center">
	    			<h3>Module list</h3>
	    			{% for m in modules %}
            			<p> <a onclick="update('{{m.module_code}}')"> {{ m.module_code}} {{ m.name }} </a> </p>
          			{% endfor %}
	    		</div>

	    		<div class="col-sm-8">
	    			<h3 class="text-center"> Module Info </h3>
	    			<div class="col-sm-6 text-center">
	    				<h4> General Information </h4>
		    			<p id="code"> </p>
		    			<p id="name"> </p>
		    			<p id="link"> <a id="alink" href="#"> </a> </p>
	    			</div>

	    			<div class="col-sm-6 text-center">
	    				<h4> Supporting Staff </h4>
	    				<p id="users"> </p>	
	    			</div>
          			
	    		</div>
	    	</div>
	    </div>
	    <!-- Module information ends -->

	    <br><br><br><br>
	    <!-- Module calendar begins -->
	    <div class="container-fluid">
		    <button id="prevBtn"> Previous </button>
	      	<button id="nextBtn"> Next </button>

		    <div id="calendar">
		    </div>
	    </div>


	    <!-- Module calendar ends -->


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

	    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.js"></script>

	    <script>

    		$(document).ready(function() {
    			var code1 = document.getElementById("code").innerHTML;
	    		console.log(code1 + "LOL");
	    		
		        $('#calendar').fullCalendar({
		        	
		        });
      		});

	    	function update(x) {

	    		{% for m in modules %}

	    			var code = "{{m.module_code}}";

	    			if (code == x) {
	    				var name = "{{m}}";
	    				var link = "{{m.moodle_link}}";

	    				console.log(name);
	    				console.log(link);

	    				var users = []

	    				{% for u in m.users.all %}

	    					users.push(" <p> {{u.first_name}} {{u.last_name}} </p> ");

	    				{% endfor %}

	    				console.log(users);
	    			}

	    		{% endfor %}

	    		document.getElementById("code").innerHTML = x;
	    		document.getElementById("name").innerHTML = name;
	    		document.getElementById("alink").innerHTML = link;
	    		$("#alink").attr("href", link);
	    		document.getElementById("users").innerHTML = users;
	    	}

	      $('#prevBtn').click(function() {
	        $('#calendar').fullCalendar('prev');
	      });

	      $('#nextBtn').click(function() {
	        $('#calendar').fullCalendar('next');
	      });

	    </script>

	</body>
</html>