<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> {{user.first_name}}'s Profile </title>

    <!-- Bootstrap -->
    <link href="https://bootswatch.com/simplex/bootstrap.min.css" rel="stylesheet">

    <link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.css" />

    <link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.print.css" />

  </head>
  <body>
    <!-- Navigation begins -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"> Management System </a>
        </div>

        <div class="collapse navbar-collapse" id="collapse1">
          <ul class="nav navbar-nav">
            <li class="active"> <a href="#"> Profile <span class="sr-only">(current)</span> </a> </li>
            <li> <a href="/modules/"> My Modules </a> </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li> <a href="#"> Notifications </a> </li>
            <li> <a href="#"> Settings </a> </li>
            <li> <a href="#"> Logged in as: <b>{{ user.first_name }}</b> </a> </li>
            <li> <a href="/logout/"> Logout </a> </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navigation ends -->

    <!-- Personal info begins -->

    <div class="container-fluid">
      <div class="row">

        <div class="col-md-4">
          <p> <img src="{{ profile.photo.url }}"> </p>
        </div>
        <div class="col-md-4">

          <p> <h4>
          {{ profile.title }} {{ user.first_name }} {{ user.last_name }}
          </h4></p>

          <p> <label><b> Role: </b></label> {{profile.role}} </p>
          
          <p> <label><b> Email Address: </b></label> {{user.email}} </p>

          <p> <label><b> Extension Number: </b></label> {{ profile.extension_no }} </p>

          <p> <label><b> Mobile Number: </b></label> {{profile.mobile_no}} </p>

          <p> <label><b> Emergency Contact: </b></label> {{profile.emergency_contact}} </p>

          <p> <label><b> PhD Status: </b></label> {{profile.phd_status}} </p>

          <p> <label><b> Emploability Status: </b></label> {{profile.employable}} </p>

          <p> <label><b> Maximum Work Hours: </b></label> {{profile.max_hours}} </p>

        </div>

        <div class="col-md-4">
          <h4> {{ user.first_name}}'s Modules </h4>
          {% for m in modules %}
            <p> {{ m.module_code}} {{ m.name }} </p>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Personal info ends -->

    <!-- Calendar begins -->

    <div class="container-fluid">
      <p> My Calendar </p>
<!--       {% for l in lectures %}
      {{ l.lecture_date }}
      {% endfor %} -->
      <div id="test"></div>

      <button id="prevBtn"> Previous </button>
      <button id="nextBtn"> Next </button>

      <div id="calendar">
      </div>

    </div>

    <!-- Calendar ends -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.js"></script>

    <script>

      $(document).ready(function() {
        $('#calendar').fullCalendar({
          events: [
        {% for l in lectures %}
          {
            'title': 'Lecture: {{l.module}}',
            'start': '{{l.lecture_date | date:"Y-m-d"}}T{{l.lecture_start_time | time:"H:i:s"}}',
            'end': '{{l.lecture_date | date:"Y-m-d"}}T{{l.lecture_end_time | time:"H:i:s"}}'
          },
        {% endfor %}
        {% for t in tutorials %}
          {
            'title': 'Tutorial: {{t.module}}',
            'start': '{{t.tutorial_date | date:"Y-m-d"}}T{{t.tutorial_start_time | time:"H:i:s"}}',
            'end': '{{t.tutorial_date | date:"Y-m-d"}}T{{t.tutorial_end_time | time:"H:i:s"}}'
          },
        {% endfor %}
      ]
        })
      });

      $('#prevBtn').click(function() {
        $('#calendar').fullCalendar('prev');
      });

      $('#nextBtn').click(function() {
        $('#calendar').fullCalendar('next');
      });

    </script>
  </body>
</html>